<body class="hack gruvbox-dark">
  <br/>
  <div class="container">
    <nav class="gruvbox-dark">
      <a class="gruvbox-dark">
        <h2 class="nav-title">Subham Padhi   |   Software Engineer <br/>
        =========================
          </h2>
      </a>
      <ul class="list-unstyled">
        <li>
          <%= link_to "- Now" %>
        </li>
        <li>
          <%= link_to "- Blog" %>
        </li>
        <li>
          <%= link_to "- Links" %>
        </li>
        <li>
          <%= link_to "- Support Me" %>
        </li>
        <li>
          <%= link_to "- Contact Info" %>
        </li>
      </ul>
    </nav>
  </div>
</body>
